*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

body{
    background-image: url("images/fundoo.jpg");
    background-repeat: no-repeat;
}
.whatsapp{
    height: 30px;
    width: 30;
    position: fixed;
    right: 50%;
    margin: 10px;
    }
    .linkedin{
        margin: 15px;
        height: 30px;
        width: 30px;
        position: fixed;
        right: 48%;

    }
    .insta{
        margin: 17px;
        height: 30px;
        width: 30px;
        position: fixed;
        right: 52%;
    }
    .nome{
        font-size: 33px;
        color: white;
        margin: 10px;
    }
    .cargo{
        font-size: 29px;
        color: white;
        margin: 10px;
    }
    .empresa{
        font-size: 28px;
        color: gold;
        margin: 10px;
    }
    .emailvdd{

        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .email{
        font-size: 20px;
        color: gold;
        font-weight: bold;
    
    }
    .img_3 {
        width: 304px;
        height: 328px;
        filter: brightness(85%);
        position: fixed;
        top: 46%;
        right: 67%;
        z-index: 1;
    
    }
    .curriculo{
        margin-top: 20px;
        font-size: 26px;
        margin-left: 22%;

    }
    
