*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.nome, .cargo, .fone, .email, .endereco, .cidade, .formacao, .experienciaprof{
    padding: 8px;
  

}
body{
    background-image: url("images/fundocurriculo.jpg");
    background-repeat: no-repeat;
}
.ensinos, .experienciasprof{
    margin-left: 30px;
    padding: 6px;
}
.linguas{
    padding: 10px;
}
.linguastab{
 
    border-spacing: 8px;
    
}
.me{
    margin-left: 15px;
    margin-top: 10px;
}
.cartaodevisitas{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}


